<ion-view hide-tabs="false" view-title="企业登录" animation="slide-left-right">
  
  <theme-header type="{{entryName}}"></theme-header>

  <!-- Header -->
  <ion-header-bar align-title="center" class="bar bar-positive bar-minus">
    <!--<a href="{{app_config.links}}/#/tab/index" class="button icon ion-ios-arrow-left"></a>-->
    <!--<a href="javascript:;" ng-click="backTo(CurrentURL)" class="button icon ion-ios-arrow-left"></a>-->
    <h1 class="title">企业登录</h1>
    <a href="{{app_config.links}}/#/company/register-new/none" class="button">注册</a> 
  </ion-header-bar>

  <ion-content overflow-scroll="true" class="bg-white" ng-class="{'has-tabs':!hideTabs}">
    <div id="login">
      <form role="form" name="myForm" ng-submit="submitForm(myForm.$valid, myForm)" novalidate>
        <div class="item item-input">
          <span class="input-title"><i class="ion-android-phone-portrait"></i></span>
          <div class="input-text-group">
            <input type="text" ng-focus="BottomStatus(1)" ng-blur="BottomStatus(2)" placeholder="请输入手机或邮箱" name="username" ng-model="datas.UserName" required/>
          </div>
        </div>
        <div class="item item-input">
          <span class="input-title"><i class="ion-locked"></i></span>
          <div class="input-text-group">
            <input type="password" ng-focus="BottomStatus(1)" ng-blur="BottomStatus(2)" name="password" ng-model="datas.Password" placeholder="请输入密码" ng-pattern="/^[\@A-Za-z0-9\!\#\$\%\^\&\*\.\~]{6,16}$/" required/>
          </div>
        </div>
        <div class="item item-input">
          <span class="input-title"><i class="ion ion-theme-yanzheng-1"></i></span>
          <div class="input-text-group">
            <input type="number" ng-focus="BottomStatus(1)" ng-blur="BottomStatus(2)" placeholder="输入图形验证码" name="vercode" ng-model="datas.Vercode" required>
          </div>
          <a href="javascript:;" ng-click="ChangeVercodeImg()" class="VercodeImg"><img ng-src="{{VercodeImg}}"></a>
        </div>
        <div class="mt20">
          <input type="submit" ng-disabled="!readAndAgree||isPost" class='button button-block button-small button-positive button-newStyle' value="登录">
          <label id="login-had-read"><input type="checkbox" ng-model="readAndAgree" checked/> 我已阅读并同意</label> <a href="{{app_config.links}}/#/company/my/set/detail/P_Agreement">《用户协议》</a>
          <a id="forget-password" href="{{app_config.links}}/#/company/login/forgetPwd">忘记密码?</a>
        </div>
        <div class="login-bottom" ng-hide="isHideBottom">
          <div class="title-center">还没账号？<a href="{{app_config.links}}/#/company/register-new/none">马上注册</a></div>
        </div>
      </form>
    </div>
  </ion-content>

  <!--
  <ion-tabs class="tabs-striped tabs-top tabs-light tabs-color-active-positive">
    <ion-tab title="手机账号">
      <ion-content overflow-scroll="true" class="has-tabs-top bg-white">
        <h1>aaa</h1>
      </ion-content>
    </ion-tab>

    <ion-tab title="邮箱账号">
      <ion-content overflow-scroll="true" class="has-tabs-top bg-white">
        <div id="login">
          <form role="form" name="myForm" ng-submit="submitForm(myForm.$valid, myForm)" novalidate>
            <div class="item item-input">
              <span class="input-title"><i class="ion ion-theme-menu-5"></i></span>
              <div class="input-text-group">
                <input type="text" ng-focus="BottomStatus(1)" ng-blur="BottomStatus(2)" placeholder="请输入邮箱" name="username" ng-model="datas.UserName" required/>
              </div>
            </div>
            <div class="item item-input">
              <span class="input-title"><i class="ion-locked"></i></span>
              <div class="input-text-group">
                <input type="password" ng-focus="BottomStatus(1)" ng-blur="BottomStatus(2)" name="password" ng-model="datas.Password" placeholder="请输入密码" ng-pattern="/^[\@A-Za-z0-9\!\#\$\%\^\&\*\.\~]{6,16}$/" required/>
              </div>
            </div>
            <div class="item item-input">
              <span class="input-title"><i class="ion ion-theme-yanzheng-1"></i></span>
              <div class="input-text-group">
                <input type="number" ng-focus="BottomStatus(1)" ng-blur="BottomStatus(2)" placeholder="输入图形验证码" name="vercode" ng-model="datas.Vercode" required>
              </div>
              <a href="javascript:;" ng-click="ChangeVercodeImg()" class="VercodeImg"><img ng-src="{{VercodeImg}}"></a>
            </div>
            <div class="mt20">
              <input type="submit" ng-disabled="!readAndAgree||isPost" class='button button-block button-small button-positive button-newStyle' value="登录">
              <label id="login-had-read"><input type="checkbox" ng-model="readAndAgree" checked/> 我已阅读并同意</label> <a href="{{app_config.links}}/#/tab/my/set/detail/P_Agreement">《用户协议》</a>
              <a id="forget-password" href="{{app_config.links}}/#/tab/login/forgetPwd">忘记密码?</a>
            </div>
            <div class="login-bottom" ng-hide="isHideBottom">
              <div class="title-center">还没账号？<a href="{{app_config.links}}/#/tab/register-new/none">马上注册</a></div>
            </div>
          </form>
        </div>
      </ion-content>
    </ion-tab>
    
  </ion-tabs>
  -->
  
</ion-view>