<ion-view hide-tabs="true" view-title="百家亿级企业“送来薪工作”网络招聘专场" animation="slide-left-right">
  
  <theme-header type="{{entryName}}"></theme-header>

  <!-- Header -->
  <ion-header-bar ng-hide="isApp" align-title="center" class="bar bar-positive bar-minus">
    <button ng-click="backTo('/#/{{entry}}/index')" class="button icon ion-ios-arrow-left"></button>
    <h1 class="title">百家亿级企业“送来薪工作”网络招聘专场</h1>
  </ion-header-bar>
  
  <!--  lazy-container -->
  <ion-content overflow-scroll="true" class="bg-white">
    
    <div class="zhuangti_slxgz2017">
      <img class="zhuangti_banner" ng-src="/Content/Phone/images/zhuangti/slxgz2017/banner.png">

      <!-- 1 -->
      <div class="zhuangti_section">
        <div class="zhuangti_section_title">
          <h2><span>活动</span>介绍</h2>
          <p>Activity introduction</p>
        </div>
        <div class="zhuangti_section_content">
          　　2017粤东百家亿级企业“送来‘薪’工作”网络招聘专场活动由广东汇才人力资源有限公司发起，职得招聘承办。活动邀请粤东地区200家年营业额过亿的企业，受邀企业提供具有竞争性的招聘岗位，利用网络、电视等宣传渠道宣传，吸引本地求职群体与企业通过职得招聘进行应聘互动达到就业意向。这是互联网+时代下，招聘模式的一次转型升级，告别传统现场招聘会，以最便捷的方式，真正达成名企与菁英之间的深度互动。
        </div>
      </div>

      <!-- 2 -->
      <div class="zhuangti_section zhuangti_flow">
        <div class="zhuangti_section_title">
          <h2><span>活动</span>流程</h2>
          <p>Activity flow</p>
        </div>
        <div class="zhuangti_section_content">
          <ul>
            <li>
              <div class="flow_item">
                <p><strong>11月6日-11月25日</strong></p>
                <p>亿级企业开始报名</p>
              </div>
            </li>
            <li class="right">
              <div class="flow_item">
                <p><strong>11月6日-11月27日</strong></p>
                <p>参会企业名录公布；求职用户报名</p>
              </div>
            </li>
            <li>
              <div class="flow_item">
                <p><strong>11月28日-11月30日</strong></p>
                <p>活动开始，招聘正式启动</p>
              </div>
            </li>
          </ul>
        </div>
      </div>
      
      <!-- 3 -->
      <div class="zhuangti_section zhuangti_welfare">
        <div class="zhuangti_section_title">
          <h2><span>参与</span>福利</h2>
          <p>Participation welfare</p>
          <p><span>参与活动用户可获得以下服务</span></p>
        </div>
        <div class="zhuangti_section_content">
          <ul>
            <li>
              <div class="sign">专业<br>服务</div>
              <div class="info">
                <p>填写简历及求职意向，享受平台1对1免费推荐工作</p>
              </div>
            </li>
            <li class="right">
              <div class="sign">优质<br>岗位</div>
              <div class="info">
                <p>200多家营业额上亿的企业覆盖面广、有竞争力的岗位信息</p>
              </div>
            </li>
            <li>
              <div class="sign">免费<br>参会</div>
              <div class="info">
                <p>求职者填写简历注册会员即可免费参会</p>
              </div>
            </li>
          </ul>
          <div class="zhuangti_section_bottom">
            <p>求职者提前免费注册会员，完善简历即可参会</p>
            <p><a href="/#/tab/register-new/none" class="btn">还没账号？马上注册</a></p>
          </div>
        </div>
      </div>

      <!-- 4 -->
      <div class="zhuangti_section zhuangti_3flash">
        <div class="zhuangti_section_content">
          <div class="title">
            <img ng-src="/Content/Phone/images/zhuangti/slxgz2017/3flash_bg.png">
          </div>
          <div class="section_list">
            <ul>
              <li class="list_1">
                <div class="list_title"><i>1</i>创新性</div>
                <div class="list_content">
                  互联网+时代，手机就能轻松求职&招聘，招聘更便捷，求职更轻松，且本次免费参会
                </div>
              </li>
              <li class="list_2">
                <div class="list_title"><i>2</i>高端化</div>
                <div class="list_content">
                  <p><strong>TO求职者：</strong>两百家年营业额上亿企业参加，提供超过2000个优质职位；更多选择，更多机会。</p>
                  <p><strong>TO参会企业：</strong>参会人才，均具备一定工作经验，能够胜任中高级岗位，更大规模，更多人才。</p>
                </div>
              </li>
              <li class="list_3">
                <div class="list_title"><i>3</i>精品化</div>
                <div class="list_content">
                  <p><strong>TO求职者：</strong>网站专题内容精选，为求职用户提供更精准的岗位信息合集。</p>
                  <p><strong>TO参会企业：</strong>活动主页展示企业文化，特色企业专题页，为雇主提升品牌形象提供绝佳机会。</p>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <!-- 5 -->
      <div class="zhuangti_section zhuangti_textarea">
        <div class="zhuangti_section_content">
          <div class="title"><i></i>企业要求</div>
          <img class="img" ng-src="/Content/Phone/images/zhuangti/slxgz2017/section_textarea_1.jpg">
          <div class="content">
            <p>1、年营业额过亿的企业；</p>
            <p>2、提供优质岗位信息；</p>
            <p>3、精选汕头本地知名企业200家；</p>
            <p>4、配合活动登录网站进行信息刷新及查看。</p>
            <p><b>　  符合条件企业免费参与</b></p>
          </div>
        </div>
        <div class="zhuangti_section_content noBorder">
          <div class="title"><i></i>企业福利</div>
          <img class="img" ng-src="/Content/Phone/images/zhuangti/slxgz2017/section_textarea_2.jpg">
          <div class="content">
            <p>参与活动企业可获得以下服务</p>
            <p>1、两场现场招聘会（一场室内、一场室外，具体时间另外安排）</p>
            <p>2、职得招聘公众号头条宣传1次</p>
            <p>3、职得招聘pc版首页“名企招聘”logo展示1个月</p>
            <p>4、职得招聘免费使用2年</p>
          </div>
        </div>
      </div>

      <!-- 6 -->
      <div class="zhuangti_section zhuangti_messages bottomMargin">
        <div class="zhuangti_section_content">
          <div class="title">
            <h2>企业报名方式</h2>
            <p>报名电话：0754-86348888 / 18923988375</p>
          </div>
          <div class="content">
            <ul>
              <li>
                <label>企业名称<b>*</b></label>
                <input type="text" ng-model="datas.companyName" placeholder="请输入企业名称">
              </li>
              <li>
                <label>联系电话<b>*</b></label>
                <input type="number" ng-model="datas.contactNumber" placeholder="请输入联系电话">
              </li>
              <li>
                <label>联系人<b>*</b></label>
                <input type="text" ng-model="datas.contactName" placeholder="请输入联系人姓名">
              </li>
              <li class="bottom">
                <a href="javascript:;" class="btn" ng-click="AddApplyClick()">提交报名</a>
              </li>
            </ul>
          </div>
        </div>
      </div>


    </div>

  </ion-content>
  
</ion-view>