 <ion-modal-view>
  <ion-header-bar class="bar bar-header bar-positive">
    <h1 class="title">请选择所在城市</h1>
    <!--<button class="button button-clear button-primary" ng-click="jobPlatformModal.remove()">取消</button>-->
  </ion-header-bar>
  <ion-content overflow-scroll="true">
    
    <!--<div class="item">{{datas.selected}}</div>-->
    <ion-radio ng-repeat="item in CityLists track by $index" ng-change="selectCity()" ng-value="item" ng-model="datas.selected">
      {{ item._value }}
    </ion-radio>
    
  </ion-content>
</ion-modal-view>
