<ion-view hide-tabs="true" view-title="学历教育详情" animation="slide-left-right">
  
  <theme-header type="{{entryName}}"></theme-header>

  <!-- Header -->
  <ion-header-bar ng-hide="isApp" align-title="center" class="bar bar-positive bar-minus">
    <button ng-click="backTo()" class="button icon ion-ios-arrow-left"></button>
    <h1 class="title">技能培训详情</h1>
  </ion-header-bar>
  
  <!-- Content -->
  <ion-content overflow-scroll="true">

    <div class="articleDetail">
      <div class="articleTitle">{{eduSkillDetail.Name}}</div>

      <div class="articleContent" ng-bind-html="eduSkillDetail.Content">
      
    </div>
    
  </ion-content>
  <!-- end Content -->
  

  
  
</ion-view>