<ion-view hide-tabs="false" view-title="广场" animation="slide-left-right">
  
  <theme-header type="{{entryName}}"></theme-header>

  <!-- Header -->
  <ion-header-bar align-title="center" class="bar bar-positive bar-minus">
    <h1 class="title" ng-click="scrollTop()">广场</h1>
    <button class="button icon ion-ios-compose-outline" ng-click="addNewSquare()"></button>
  </ion-header-bar>
  
  <!-- Content -->
  <ion-content overflow-scroll='false' lazy-container>
    
    <!--<a ui-sref="index">Home</a> //测试 -->
    
    <!-- 测试：/json/square_list.json -->
    <!-- 正式：$rootScope.app_config.imgUrl -->
    <!-- 测试：http://192.168.1.150:8081/api/Square/GetNewestMessageList -->
    <!-- 数据修改在 Services.js 搜索 SquareRefreshList -->
    <get-json-datas jsonurl="{{app_config.api}}/api/Common/Square/GetNewestMessageList" listname="squareList"></get-json-datas>
    
    <div class="square square-list-index">
      <ion-refresher on-refresh="refreshUp()" pulling-text="下拉刷新"></ion-refresher>
      <ion-list>
        <ul>
          <li class="item" ng-repeat="item in squareList" itemid="{{item.Id}}" on-finish-render-filters>
            <div class="s-top">
              <div class="s-top-left">
                <a ng-href="#/tab/square/imformation/{{item.UserId}}">
                  <img lazy-src="{{item.UserHeadPic}}" err-src="/Content/Phone/images/head/none.jpg"/>
                </a>
                <a ng-href="#/tab/square/imformation/{{item.UserId}}">{{item.UserNickName}}</a>
              </div>
              <div class="s-top-right" ng-if="item.UserId===userImfor.Id">
                <a href="javascript:;" ng-click="mySquareDel()" alt="删除动态" class="ion-ios-trash-outline"></a>
              </div>
            </div>
            <div class="s-mid">
              <a class="s-mid-content" href="#/tab/square/detail/{{item.Id}}" ng-bind-html='item.Content|EmotFilter|to_trusted'></a> <!-- {{item.Content | EmotFilter}}-->
              
              <a ng-if="item.ContentData && item.ContentData!=''" href="#/{{entry}}/square/cardDetail/{{(item.ContentData|StringToJSON).Id}}" class="SquareCards_Wrap">
                <div class="SquareCards">
                  <div class="card-left">
                    <div class="title">
                      <strong ng-bind="(item.ContentData|StringToJSON).Resume.Realname"></strong>
                      <span>正在寻找{{ ((item.ContentData|StringToJSON).Type=='FulltimeResume') ? '全职':'兼职' }}工作</span>
                    </div>
                    <div class="content">
                      <ul>
                         <li><em>性别：</em><span ng-bind="(item.ContentData|StringToJSON).Resume.Gender | KeyToName:'Gender':ConstantXML"></span></li>
                        <li><em>年龄：</em><span ng-bind="((item.ContentData|StringToJSON).Resume.Birthday | CallbackAge)+'岁'"></span></li>
                        <li><em>学历：</em><span ng-bind="(item.ContentData|StringToJSON).Resume.EducationCode | KeyToName:'Education':ConstantXML">本科</span></li>
                        <li><em>身高：</em><span ng-bind="(item.ContentData|StringToJSON).Resume.Stature+'cm'"></span></li>
                        <li class="long"><em>意向：</em><span ng-bind="(item.ContentData|StringToJSON).Resume.IntentionJobTypeNames"></span></li> 
                      </ul>
                    </div>
                  </div>
                  <div class="card-right">
                    <div class="headpic">
                      <img ng-src="{{ (item.ContentData|StringToJSON).Resume.HeadImage || ('/Content/Phone/images/head/none.jpg') }}" err-src="/Content/Phone/images/head/none.jpg">
                    </div>
                  </div>
                </div>
              </a>

              <div class="s-min-photo" ng-show="item.Images">
                <ion-gallery ion-gallery-items="item.Images" ion-gallery-row="3"></ion-gallery>
              </div>
            </div>
            <div class="s-bottom">
              <!-- {{getLocalTime(item.ReleaseTime)| date:'yyyy-MM-dd HH:mm'}} -->
              <div class="s-bottom-left">{{item.ReleaseTime | limitTo:16}} &nbsp;&nbsp;<a href="javascript:;" ng-click="inform()">举报</a></div>
              <div class="s-bottom-right">
                <span ng-class="{true:'unusable'}[loadingPraise]">
                  <a ng-click="eventPostPraise()" href="javascript:;" ng-class="{true: 'active'}[squareList[$index].PraiseUserIds.indexOf(userImfor.Id)>=0]">
                    <i class="ion-zan-outline"></i>
                    <span>{{this.item.PraiseCount}}</span>
                  </a> 
                </span>
                <span>
                  <a ng-click="showList()" href="javascript:;" ng-class="{true: 'active'}[isShowList]">
                    <i class="ion ion-ios-chatboxes-outline"></i>
                    <span>{{this.item.ReplyCount}}</span>
                  </a>
                </span>
                <span>
                  <a ng-click="showComment()" href="javascript:;">
                    <i class="ion-ios-compose-outline"></i>
                    <span>回复</span>
                  </a>
                </span>
              </div>
            </div>
            <div class="s-bottom-praise" ng-if="item.PraiseCount>0">
              <i class="ion-zan-outline"></i>
              <span ng-if="item.PraiseCount>0" ng-repeat="itemPraise in item.PraiseUserNickNames | limitTo:5">{{itemPraise}}, </span>
              <span ng-if="item.PraiseCount>5">等人</span>
              <span ng-if="item.PraiseCount>0||item.CurrentUserIsPraise">已点赞</span>
            </div>
            <div class="s-bottom-list bg" ng-show="isShowList">
              <ul>
                <li ng-show="isShowComment">
                  <input type="text" class="text" placeholder="{{commentPlaceholder}}" ng-model="commentContent" focus-me="isShowComment"/>
                  <input type="button" ng-click="submitComment(item.Id)" class="button button-small button-positive" value="提交">
                </li>
                <li ng-repeat="itemChild in item.MessageReplyList | orderBy:itemChild.ReleaseTime:true | limitTo:3" itemid="{{itemChild.Id}}">
                  <div class="s-bottom-list-hd"><a href="javascript:;"><img ng-src="{{itemChild.UserHeadPic||'/Content/Phone/images/head/none.jpg'}}" err-src="/Content/Phone/images/head/none.jpg"></a></div>
                  <div class="s-bottom-list-bd">
                    <span class="s-bottom-list-bd-name" ng-hide="itemChild.ParentUserNickName"><a href="#/tab/square/imformation/{{itemChild.UserId}}">{{itemChild.UserNickName}}</a>:</span>
                    <span class="s-bottom-list-bd-name" ng-show="itemChild.ParentUserNickName"><a href="#/tab/square/imformation/{{itemChild.UserId}}">{{itemChild.UserNickName}}</a> 回复 <a href="#/tab/square/imformation/{{itemChild.ParentUserId}}">{{itemChild.ParentUserNickName}}</a>:</span>
                    {{itemChild.Content}}
                  </div>
                  <div class="s-bottom-list-ft">
                    <div class="s-bottom-list-ft-date">
                      {{itemChild.ReleaseTime | limitTo:16}}
                      <a href="javascript:;" ng-click="mySquareMessageDel()" ng-if="itemChild.UserId===userImfor.Id">删除</a>
                    </div>
                    <div class="s-bottom-list-ft-action">
                      <a href="javascript:;" ng-click="replyComment()">回复</a>
                    </div>
                  </div>
                </li>
                <li class="none" ng-if="item.MessageReplyList.length==0">还没有人评论，赶快抢占沙发吧:)</li>
                <li class="last" ng-if="item.ReplyCount>3">
                  <a href="{{app_config.links}}/#/tab/square/detail/{{item.Id}}">查看更多</a>
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </ion-list>
      
      <ion-infinite-scroll ng-if="square_loaded" distance="1%" style="height:10px;" immediate-check="false" on-infinite="refreshDown()"></ion-infinite-scroll>
      <p ng-if="square_loaded" class="scroll-end">加载中..</p>
      <p ng-if="square_end" class="scroll-end">没有更多了</p>
      
      <div class="noneContent nobg" ng-hide="hasData">
        <i class="ion-social-freebsd-devil"></i>
        {{hasDataText}}
      </div>

      <!--<ion-spinner ng-hide="is_square_loaded" id="icon-loading" icon="dots" class="spinner spinner-dark" alt="加载中"></ion-spinner>-->
      
    </div>
  </ion-content>
  <!-- end Content -->
  
</ion-view>
