<ion-view hide-tabs="true" view-title="{{rsTitle}}" animation="slide-left-right">
  
  <theme-header type="{{entryName}}"></theme-header>

  <!-- Header -->
  <ion-header-bar align-title="center" class="bar bar-positive bar-minus">
    <button ng-click="backTo()" class="button icon ion-ios-arrow-left"></button>
    <h1 class="title">{{rsTitle}}</h1>
  </ion-header-bar>
  
  <!-- Content -->
  <ion-content lazy-container>
    
    <ion-list>
      <div class="jobs_list">
        <ul>
          <li ng-repeat="item in IndustryCateLists track by $index" on-finish-render-filters>
            <i class="hot" ng-if="item.IsHot"><b>热</b></i>
            <a ng-href="{{app_config.links}}/#/tab/job/detail/index/{{item.Id}}">
              <div class="ll companyLogo">
                <img lazy-src="{{item.EnterpriseLogoSmall || '/Content/Phone/images/default/companyLogo.jpg'}}" err-src="/Content/Phone/images/default/companyLogo.jpg" class="my-galleryImg"/>
              </div>
              <div class="rr companyJob">
                <div class="companyJobSection">
                  <div class="top over">
                    <div class="ll">{{item.Name}}</div>
                    <div class="rr"><span>{{item.Pay}}</span> <em ng-if="item.Pay!='面议'">{{item.JobPayUnit}}</em></div>
                  </div>
                  <div class="mid over">
                    <div class="ll">{{item.EnterpriseName}}</div>
                  </div>
                  <div class="bottom over" ng-if="item.WelfareValue!=''">
                    <div class="ll">
                      <div class="signGroup">
                        <span ng-repeat="i in item.WelfareValue.split(',') | limitTo:4">{{i}}</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </li>
        </ul>
      </div>
    </ion-list>
    <infinite-scroll-end ng-model="IndustryCateLists" one-page="10" id="{{industryCateId}}"></infinite-scroll-end>
    <div ng-if="IndustryCateLists.length<=0">
      <list-status ng-model="IndustryCateLists" null-msg="暂无职位"></list-status>
    </div>


  </ion-content>
  <!-- end Content -->
  

  
  
</ion-view>