<ion-view hide-tabs="true" view-title="我要报名" animation="slide-left-right">
  
  <theme-header type="{{entryName}}"></theme-header>

  <!-- Header -->
  <ion-header-bar align-title="center" class="bar bar-positive bar-minus">
    <button ng-click="backTo()" class="button icon ion-ios-arrow-left"></button>
    <h1 class="title">我要报名</h1>
  </ion-header-bar>
  
  <!-- Content -->
  <ion-content class="empty"> <!--  overflow-scroll="true"-->

    <div class="modalAdd">
      <div class="item item-input">
        <span class="input-label">选择职位</span>
        <div ng-click="OpenSelect()" class="select-label" ng-class="{true:'active'}[datas.JobNames.length>=1]">选择职位<span>({{datas.JobNames.length}})</span><i class="ion-ios-arrow-down"></i></div>
      </div>
      <div class="item item-input">
        <span class="input-label">联系人</span>
        <input type="text" placeholder="输入联系人" ng-model="datas.ContactManName">
      </div>
      <div class="item item-input">
        <span class="input-label">联系电话</span>
        <input type="text" placeholder="输入电话" ng-model="datas.ContactManPhone">
      </div>
      <div class="item">
        <textarea placeholder="输入备注" ng-model="datas.Remark"></textarea>
      </div>
      <div class="list-inset">
        <a href="javascript:;" ng-click="SubmitApply()" class="button button-small button-full button-positive">提交</a>
      </div>

    </div>
  </ion-content>

  <!-- end Content -->
  
</ion-view>