<ion-view hide-tabs="true" view-title="修改密码" animation="slide-left-right">
  
  <theme-header type="{{entryName}}"></theme-header>

  <!-- Header -->
  <ion-header-bar align-title="center" class="bar bar-positive bar-minus">
    <button ng-click="backTo()" class="button icon ion-ios-arrow-left"></button>
    <h1 class="title">修改密码</h1>
  </ion-header-bar>
  
  <!-- Content -->
  <ion-content>
    
    <div id="my">
      <form role="form" name="myForm" ng-submit="submitForm(myForm.$valid)" novalidate>
        <div class="item-group" style="margin:0;">
          <div class="item item-input-group">
            <span class="input-title">新密码</span>
            <div class="input-text-group">
              <input class="input-text" type="password" name="Password" ng-model="datas.Password" placeholder="6-16位数字字母区分大小写" ng-pattern="/^[\@A-Za-z0-9\!\#\$\%\^\&\*\.\~]{6,16}$/" required/>
            </div>
          </div>
          <div class="item item-error" ng-show="myForm.Password.$dirty && myForm.Password.$invalid || isErrorForSubmit">
            <span ng-show="myForm.Password.$error.required">密码不能为空</span>
            <span ng-show="!myForm.Password.$error.required && myForm.Password.$dirty && myForm.Password.$invalid">密码必须是6-16位数字或字母</span>
          </div>
          <div class="item item-input-group">
            <span class="input-title">确认密码</span>
            <div class="input-text-group">
              <input class="input-text" type="password" name="confirmPassword" ng-model="confirmPassword" compare-to="datas.Password" placeholder="请再次输入密码"/>
            </div>
          </div>
          <div class="item item-error" ng-show="myForm.confirmPassword.$error.compareTo">
            <span ng-show="myForm.confirmPassword.$invalid">两次密码不一致</span>
          </div>
          <div class="wp">
            <input type="submit" href="javascript:;" class="button button-block button-small button-positive" value="提交">
          </div>
        </div>
      </form>
    </div>
    
  </ion-content>
  <!-- end Content -->
  
</ion-view>