<ion-view hide-tabs="true" view-title="意见反馈" animation="slide-left-right">
  
  <theme-header type="{{entryName}}"></theme-header>

  <!-- Header -->
  <ion-header-bar align-title="center" class="bar bar-positive bar-minus">
    <button ng-click="backTo()" class="button icon ion-ios-arrow-left"></button>
    <h1 class="title">意见反馈</h1>
  </ion-header-bar>
  
  <!-- Content -->
  <ion-content class="bg-white">
    
    <div id="my" class="feedback">
      
      <div class="list list-inset">
        <div class="item">
          <div class="content">
            <textarea placeholder="写下您想要的功能，或者对我们的批评与建议" style=""></textarea>
          </div>
        </div>
      </div>
      
      <div class="wp10">
        <button type="submit" class="button button-small button-full button-positive">保存资料</button>
      </div>
      
    </div>
    
  </ion-content>
  <!-- end Content -->
  
  
  
</ion-view>