 <ion-modal-view>
  <ion-header-bar ng-hide="isApp" class="bar bar-header bar-positive">
    <h1 class="title">学费标准</h1>
    <button class="button button-clear button-primary" ng-click="modal.remove()">返回</button>
  </ion-header-bar>
  <ion-content overflow-scroll="false">
    
    <div class="modalAdd">
      
      <div class="articleDetail">
        <div class="articleTitle">高中起点专科</div>
        <div class="articleContent f14" style="padding:10px 0">
          
          <div class="content">
            <ul>
              <li><label>报名费</label>免</li>
              <li><label>入学考试</label>免</li>
              <li><label>相片采集费</label>30 元</li>
            </ul>
            <ul>
              <li><label>第一学年学费</label>3500 元</li>
              <li class="mb10"><label>教材费</label>500 元</li>
              <li><label>第二学年学费</label>3500.00 元</li>
              <li class="mb10"><label>教材费</label>500 元</li>
              <li><label>第三学年学费</label>3500 元</li>
              <li class="mb10"><label>教材费</label>300 元</li>
              <li>三年费用约 <b>11830</b> 元，分三次缴</li>
            </ul>
            <ul>
              <li><label>第四学年学费</label>3500 元</li>
              <li class="mb10"><label>教材费</label>500 元</li>
              <li><label>第五学年学费</label>3500 元</li>
              <li class="mb10"><label>教材费</label>400 元</li>
              <li>五年费用约 <b>19730</b> 元，分五次缴</li>
            </ul>


          </div>
        </div>
      </div>
        
    </div>
    
  </ion-content>
</ion-modal-view>
